.movieCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: auto;
  padding: 5px;
  gap: 0px;
}

.movieCard img {
  width: 130px;
  border-radius: 10px;
  margin-bottom: 4px;
}

.movieTitle {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 2px 0;
}

.movieVotes {
  text-align: center;
}

.movieVotes h5 {
  margin: 2px 0;
}
