html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.footer {
  background: #333;
  color: #fff;
  padding: 16px;
  text-align: center;
  margin-top: 125px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
